{% extends 'base.html' %}

{% block content %}
<div class="container"></div>

  <main class="main-content">
    <div class="content-area">
      <header class="header">
        <h1>For You</h1>
      </header>

      {# Form for creating new posts #}
      <div class="post-form-container">
        <form method="POST" action="{{ url_for('main.new_post') }}">
          <textarea name="text" placeholder="What's happening?" required></textarea>
          <button type="submit" class="btn-primary">Post</button>
        </form>
      </div>
      <h2>Latest posts from the people you follow</h2>
      {% set posts = following_posts %}
      {% include 'posts_template.html' %}
      
      <h2>Latest posts</h2>
      {% set posts = latest_posts %}
      {% include 'posts_template.html' %}
    </div>
  </main>

  <aside class="right-sidebar">
    <div class="search-box">
      <input type="text" placeholder="Search">
    </div>

    <div class="subscribe">
      <p>Subscribe to unlock all the features and content</p>
      <div class="subscribe-icon">
        <button class="subscribe-button">Subscribe to Premium</button>
      </div>
    </div>

    <div class="trending">
      <div class="trending-item">
        <p>Thai Boy Band Concerts sell out impact arena</p>
        <div class="trending-item-count">111 M: News</div>
      </div>
      <div class="trending-item">
        <p>Thai Boy Band Concert ends in tragic accident</p>
        <div class="trending-item-count">737 k: Entertainment</div>
      </div>
      <div class="trending-item">
        <p>Mariners</p>
        <div class="trending-item-count">1.5 M: Sports</div>
      </div>
    </div>
  </aside>
</div>
{% endblock %}